
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Acabas de recibir un mensaje de <%= @contact.name %></h1>
    <p>
	    <strong>Correo electrónico: </strong> <%=@contact.email%><br>
	    <strong>Teléfono: </strong><%=@contact.phone%><br>
	</p>
    <h3>Mensaje</h3>
   	<p>
   		<%= @contact.message %>
   	</p>
  </body>
</html>
